[Unit]
Description=Bridging service for netns %i
Documentation=https://github.com/Jamesits/systemd-named-netns

BindsTo=netns-veth@%i.service
After=netns-veth@%i.service
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVNAME_OUTSIDE=veth-%i
Environment=DEVNAME_INSIDE=veth0

ExecStart=/usr/bin/env netnsctl start %i bridge
