[Unit]
Description=Bridging service for netns %I
Documentation=https://github.com/Jamesits/systemd-named-netns

BindsTo=netns-veth@%i.service
After=netns-veth@%i.service
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVNAME_OUTSIDE=veth-%I
Environment=DEVNAME_INSIDE=veth0
EnvironmentFile=/etc/default/netns
EnvironmentFile=-/etc/default/netns-%I

ExecStart=/usr/bin/env ip link set ${DEVNAME_OUTSIDE} master ${BRIDGE}

ExecStart=/usr/bin/env ip netns exec %I /usr/bin/env netnsinit bridge %I
