[Unit]
Description=Raw ethernet service for netns %i
Documentation=https://github.com/Jamesits/systemd-named-netns

BindsTo=netns@%i.service
After=netns@%i.service
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/env netnsctl start %i raw
ExecStop=/usr/bin/env netnsctl stop %i raw
