[Unit]
Description=Raw ethernet service for netns %i
Documentation=https://github.com/Jamesits/systemd-named-netns

BindsTo=netns@%i.service
After=netns@%i.service
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/default/netns
EnvironmentFile=-/etc/default/netns-%i

ExecStart=-/usr/bin/env tc qdisc del dev ${DEVNAME} root
ExecStart=/usr/bin/env ip link set ${DEVNAME} netns %i
# let this fail silently if IPADDR_OUTSIDE is undefined
ExecStart=/usr/bin/env ip netns exec %i /usr/bin/env ip link set ${DEVNAME} up

# do not run in ExecStartPost to prevent forked dhclient from being killed
ExecStart=/usr/bin/env ip netns exec %i /usr/bin/env netnsinit interface %i ${DEVNAME}

ExecStop=-/usr/bin/env kill -15 `cat /var/run/dhclient-%i.pid`
ExecStop=-/usr/bin/env rm /var/run/dhclient-%i.pid
ExecStop=/usr/bin/env ip netns exec %i ip link set ${DEVNAME} netns 1;
