[Unit]
Description=Bridging service for netns %i
Documentation=https://github.com/Jamesits/systemd-named-netns

BindsTo=netns-veth@%i.service
After=netns-veth@%i.service
Before=network.target network-online.target

[Install]
WantedBy=network-online.target
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=DEVNAME_OUTSIDE=veth-%i
Environment=DEVNAME_INSIDE=veth0

ExecStart=/bin/sh -c \
    "set -e; for config in /etc/default/netns-%i/veth.* /etc/default/netns-%i/bridge.*; do \
        [ -e $${config} ] || continue; \
        ( \
        . $${config}; \
        /usr/bin/env ip link set $${DEVNAME_OUTSIDE} master $${BRIDGE}; \
        /usr/bin/env ip netns exec %i /usr/bin/env netnsinit bridge %i $${DEVNAME_INSIDE} $${config}; \
        ); \
    done"
